
<div style = "text-align:center" class = "spinner" ng-show = "loading"> 
        <img src="loader.gif"/>
</div>

<div style="width:90%; margin-left: auto; margin-right: auto;" ng-hide = "loading" ng-init="openModal(warehouses[0])">
    <div class="container">
        <div class="row">
            <div class="panel-group col-sm-7" style="table-layout: fixed;">
                <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{selectedLanguage.home.labels.warehouses}}</h4></div>
                <div class="panel-body" style="max-height: 70vh; overflow-y: scroll;">
                    <table class="table table-striped">
                        <thead></thead>
                        <tbody>
                            <tr ng-repeat="warehouse in warehouses | orderBy:'name':false" data-toggle="modal" data-target="#warehouseModal" ng-click="openModal(warehouse)" style = "cursor:pointer">
                                <td>{{warehouse.name}}</td>
                                <td style="text-align: right;">{{warehouse.quantity}} / {{warehouse.capacity}} <span class="glyphicon {{warehouse.icon}}" style="color: {{warehouse.color}};"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        <div class="panel-group col-sm-5" style="table-layout: fixed;">
                <div class="panel panel-danger">
                <div class="panel-heading"><h4>{{selectedLanguage.home.labels.notifs}}</h4></div>
                <div class="panel-body" style="max-height: 70vh; overflow-y: scroll;">

                    <table class="table table-striped">
                        <thead></thead>
                        <tbody>
                            <tr ng-repeat="response in logss" >
                                <td>{{response.message}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="panel-group col-sm-7" style="table-layout: fixed;">
            <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align: center">{{current_warehouse.name}} <span class="glyphicon {{current_warehouse.icon}}" style="color: {{current_warehouse.color}};"></span></h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <big>
                            <tbody>
                                <tr>
                                    <td><b>{{selectedLanguage.home.labels.totalCap}}</b></td>
                                    <td>{{current_warehouse.capacity}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{selectedLanguage.home.labels.totalStored}}</b></td>
                                    <td>{{current_warehouse.quantity}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{selectedLanguage.home.labels.types}}</b></td>
                                    <td>{{current_warehouse.asset_types}}</td>
                                </tr>
                            </tbody>
                            </big>
                        </table>
                        <big><b>{{selectedLanguage.home.labels.latest}} </b></big>
                        <table class="table table-striped">
                            <thead>
                                <th style="text-align: center">{{selectedLanguage.home.labels.tag}}</th>
                                <th style="text-align: center">{{selectedLanguage.home.labels.date}}</th>
                            </thead>
                            <tbody style="text-align: center"> 
                                <tr ng-repeat="asset in latest_assets">
                                    <td><a ui-sref="asset({asset_tag: asset.asset_tag})">{{asset.asset_tag}}</a></td>
                                    <td>{{asset.updated_date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-group col-sm-5" style="table-layout: fixed;">
                <div class="panel panel-success">
                <div class="panel-heading"><h4>{{current_warehouse.name}}</h4></div>
                <div zingchart id="chart-1" zc-json="myJson" ng-load="openModal(warehouse)" zc-height="300px" zc-width="100%">
                    
                </div>
                <h5 align="center" style="font-weight: bold ">{{selectedLanguage.home.labels.quantity}}<h5>
                    <table class="table">
                    <tr ng-repeat="item in quantityData">
                    <td style="padding-left: 140px">{{item.text}} </td>
                    <td style="padding-right: 120px">{{item.values}} </td>
                    </tr>
                    </table>
                </div>
            </div>

            </div>
            <div class="row">
                <div class="panel panel-warning">
                    <div class="panel-heading"><h4>{{selectedLanguage.home.labels.line}}</h4></div>
                    <div class="row">
                        <div class="panel-group col-sm-10" style="table-layout: fixed;">
                            <div id="chart-div" height="500px" width="100%">
                            </div>
                        </div>
                        <br><br><br> 
                        <div class="panel-group col-sm-2" style="table-layout: fixed;">
                            <div>
                            <form name="myForm">
                            <label>Filter:</label>                            
                              
                                <select name="filterData" id="filterData" ng-model="filterData.model" ng-change="ShowDiv(filterData.model)">
                                  <option ng-repeat="option in filterData.availableOptions" value="{{option.id}}" >{{option.name}}</option>
                                </select>
                              </form>
                              <hr>
                              <div ng-show="ngShowMonthly">
                                    <form name="myFormFromYear">
                                    <label>Year:</label>                            
                                        <select name="yearOfChoice" id="yearOfChoice" ng-model="yearOfChoice" ng-change="getYear(yearOfChoice)">
                                          <option ng-selected="{{option}}" ng-repeat="option in years | orderBy: option" value="{{option}}" >{{option}}</option>
                                        </select>
                                    </form>
                                </div>
                              <div ng-show="ngShowYearly" class="panel-body">
                                    <form name="myFormFromYear" ng-submit="submitYears()">
                                    <table>
                                    <tr>
                                    <td>
                                    <label>From:</label></td>                            
                                        <td><select name="fromYear" id="fromYear" ng-model="fromYear" ng-change="getFromYear(fromYear)">
                                          <option ng-repeat="option in years | orderBy: option " value="{{option}}" >{{option}}</option>
                                        </select></td>
                                    <tr ng-show="ngShowtoYear">
                                    <td ><label>To:</label></td><td>                            
                                        <select name="toYear" id="toYear" ng-model="toYear" ng-change="getToYear(toYear)">
                                          <option ng-repeat="option in years | orderBy: option " value="{{option}}" >{{option}}</option>
                                        </select></td></tr>                                    
                                   
                                    </table>
                                    </form>
                                </div>
                    </div>
                </div>   
            </div>
            </div>
    </div>
</div>



<!-- to be changed  modal 
<div id="jeremy">
    <div class="modal fade" id="warehouseModal" role="dialog">
        <div class="modal-dialog">
                    
                <!-- Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">{{current_warehouse.name}} <span class="glyphicon {{current_warehouse.icon}}" style="color: {{current_warehouse.color}};"></span></h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <big>
                        <tbody>
                            <tr>
                                <td><b>{{selectedLanguage.home.labels.totalCap}}</b></td>
                                <td>{{current_warehouse.capacity}}</td>
                            </tr>
                            <tr>
                                <td><b>{{selectedLanguage.home.labels.totalStored}}</b></td>
                                <td>{{current_warehouse.quantity}}</td>
                            </tr>
                            <tr>
                                <td><b>{{selectedLanguage.home.labels.types}}</b></td>
                                <td>{{current_warehouse.asset_types}}</td>
                            </tr>
                        </tbody>
                        </big>
                    </table>
                    <big><b>{{selectedLanguage.home.labels.latest}} </b></big>
                    <table class="table table-striped">
                        <thead>
                            <th style="text-align: center">{{selectedLanguage.home.labels.tag}}</th>
                            <th style="text-align: center">{{selectedLanguage.home.labels.date}}</th>
                        </thead>
                        <tbody style="text-align: center"> 
                            <tr ng-repeat="asset in latest_assets">
                                <td><a ui-sref="asset({asset_tag: asset.asset_tag})">{{asset.asset_tag}}</a></td>
                                <td>{{asset.updated_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeModal()">{{selectedLanguage.commons.close}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->