<div class="col-sm-6">
	<div class="panel panel-primary">
        <div class="panel-heading"><h4>{{selectedLanguage.fields.labels.customize}}</h4></div>
        <div class="panel-body">
			<div class="form-inline">
				<select id = "name" ng-model="name" class="form-control" ng-click="getAllFields()" ng-change="resetFlash()">
					<option value="user">{{selectedLanguage.fields.labels.user}}</option>
					<option value="asset">{{selectedLanguage.fields.labels.asset}}</option>
					<option value="rfid_scanner">{{selectedLanguage.fields.labels.rfid_scanner}}</option>
					<option value="warehouse">{{selectedLanguage.fields.labels.warehouse}}</option>
				</select>
			</div>
			<br>
			<form ng-submit="addUpdateField()">
				<input type="text" class="form-control" placeholder="{{selectedLanguage.fields.labels.addField}}" ng-model="newField.name" ng-required="true"><br>
				<input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="newField.required">
				<label class="form-check-label" for="exampleCheck1">{{selectedLanguage.fields.labels.required}}</label><br><br>
				<label class="form-check-label" for="typeDropdown">{{selectedLanguage.fields.labels.type}}</label>
				<select id="inputType" class="form-control" ng-model="newField.type" ng-change="enableTextArea()" id="typeDropdown">
					<option value="text">{{selectedLanguage.fields.labels.text}}</option>
					<option value="number">{{selectedLanguage.fields.labels.number}}</option>
					<option value="email">{{selectedLanguage.fields.labels.email}}</option>
					<option value="password">{{selectedLanguage.fields.labels.password}}</option>
					<option value="textarea">{{selectedLanguage.fields.labels.textarea}}</option>
					<option value="checkbox">{{selectedLanguage.fields.labels.checkbox}}</option>
					<option value="dropdown">{{selectedLanguage.fields.labels.dropdown}}</option>
					<option value="radio">{{selectedLanguage.fields.labels.radio}}</option>
					<option value="date">{{selectedLanguage.fields.labels.date}}</option>
				</select><br>
				<div id="textAreaField" ng-show="editable">
					{{selectedLanguage.fields.labels.note1}}<br>
			    	<textarea id="fieldValues" rows="4" cols="50" ng-model="fieldOptions"></textarea>
				</div>
				<br>
				<button class="btn btn-success" type="submit">{{selectedLanguage.commons.save}}</button>
			</form>
		</div>
	</div>
</div>

<div class="col-sm-6">

	<div class="panel panel-success">
        <div class="panel-heading"><h4>{{selectedLanguage.fields.labels[name]}}</h4></div>
        <div class="panel-body">
			<div class="flash-message" ng-if="flash" ng-show = "!changePasswordModal">
		        <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
			</div>
			<br>
			<div id="Fields">
				<table class="table table-borderless">
					<thead>
						<tr>
							<th>{{selectedLanguage.fields.labels.tableName}}</th>
							<th>{{selectedLanguage.fields.labels.tableType}}</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					
					<tbody ui-sortable = "sortableOptions" ng-model = "fields">
						<tr ng-repeat="field in fields" style="cursor:move">
							<td class="col-sm-3">
								{{field.name}}
							</td>
							<td class="col-sm-3">
								{{selectedLanguage.fields.labels[field.type]}}
							</td>
							<td class="col-sm-3">
								{{field.required == true? selectedLanguage.fields.labels.required : selectedLanguage.fields.labels.notRequired}}
							</td>
							<td class="col-sm-3">
								<div class="pull-right" ng-if="isRemovable(field.name)">
									<a style = "cursor:pointer"><i class="fa fa-list-alt" aria-hidden="true" ng-click="editField($index)" data-toggle="tooltip" title="{{selectedLanguage.commons.edit}}"></i><a>
										|
									<a style = "cursor:pointer"><i class="fa fa-trash" aria-hidden="true" ng-click="removeField($index)" data-toggle="tooltip" title="{{selectedLanguage.commons.delete}}"></i></a>
								</div>
								<div class="pull-right" ng-if="!isRemovable(field.name)">
									{{selectedLanguage.fields.labels.default}}	
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>